<div>
    <div ng-show="editSuccessfully" class="alert alert-success">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>Success: </strong>{{ editSuccessfullyMessages }}
    </div>
    <div ng-show="editFailed" class="alert alert-danger">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>Failed: </strong>{{ editFailedMessages }}
    </div>
    <h2>{{ detail._source.description }}</h2>
    <div ng-show="internalUse">
        <!-- Button trigger edit modal -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-backdrop="static" data-target="#editModal">
          {{ 'detail.edit' | translate }}
        </button>
        <!-- Button trigger delete modal -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-backdrop="static" data-target="#deleteModal">
          {{ 'detail.delete' | translate }}
        </button>
    </div>
    </br>
    <div>
    <div class="row"><label class="col-sm-2">{{ 'detail.label.id' | translate }}</label><p class="col-sm-10">{{ detail._source.id }}</p></div>
    <div class="row"><label class="col-sm-2">{{ 'detail.label.type' | translate }}</label><p class="col-sm-10">{{ detail._source.type }}</p></div>
    <div class="row"><label class="col-sm-2">{{ 'detail.label.description' | translate }}</label><p class="col-sm-10">{{ detail._source.description }}</p></div>
    <div class="row"><label class="col-sm-2">{{ 'detail.label.level' | translate }}</label><p class="col-sm-10">{{ detail._source.level }}</p></div>
    <div class="row"><label class="col-sm-2">{{ 'detail.label.explanation' | translate }}</label><p class="col-sm-10">{{ detail._source.explanation }}</p></div>
    <div class="row"><label class="col-sm-2">{{ 'detail.label.impact' | translate }}</label><p class="col-sm-10">{{ detail._source.impact }}</p></div>

    <div class="row">
        <label class="col-sm-2">{{ 'detail.label.reason' | translate }}</label>
        <div class="col-sm-10">
            <p ng-repeat="(drKey, drVal) in detail._source.possible_cause">
                <strong>{{ drKey + 1 }}. </strong>{{ drVal }}
            </p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2">{{ 'detail.label.steps' | translate }}</label>
        <div class="col-sm-10">
            <p ng-repeat="(dsKey, dsVal) in detail._source.processing_step">
                <strong>{{ dsKey + 1 }}. </strong>{{ dsVal }}
            </p>
        </div>
    </div>

    <div class="row"><label class="col-sm-2">{{ 'detail.label.reference' | translate }}</label><p class="col-sm-10">{{ detail._source.reference }}</p></div>
    </div>
</div>



<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
  <div ng-controller="deletecontroller">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel">{{ 'delete.delete.knowledge' | translate }}</h4>
      </div>
      <div class="modal-body">
          {{ 'delete.delete.confirm' | translate }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'delete.button.cancel' | translate }}</button>
        <button ng-click="deleteContent()" type="button" class="btn btn-primary">{{ 'delete.button.delete' | translate }}</button>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalLabel">{{ 'edit.edit.knowledge' | translate }}</h4>
      </div>
      <div class="modal-body">

        <form name="editKBForm" novalidate class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'detail.label.id' | translate }}</label>
            <div class="col-sm-9">
              <input ng-disabled="true" ng-model="editContent.id" class="form-control"></input>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'detail.label.type' | translate }}</label>
            <div class="col-sm-9">
              <tags-input
                ng-model="editTags"
                on-tag-adding="forceOneTag(editTags)"
                on-tag-removed="removedTag()"
                on-tag-added="addedTag()"
                min-length="1"
                min-tags="1"
                max-tags="1"
                placeholder=" "
                add-on-paste="true">
                <auto-complete min-length="2" source="loadTags($query)"></auto-complete>
              </tags-input>
              <span style="color:red" ng-show="isEditContentTypeEmpty">{{ 'edit.validation.type' | translate }}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'detail.label.description' | translate }}</label>
            <div class="col-sm-9">
              <input ng-model="editContent.description" class="form-control"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'detail.label.level' | translate }}</label>
            <div class="col-sm-9">
              <select ng-model="editContent.level" class="form-control">
                <option ng-repeat="x in editLevels">{{ x }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'detail.label.explanation' | translate }}</label>
            <div class="col-sm-9">
              <input ng-model="editContent.explanation" class="form-control"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'detail.label.impact' | translate }}</label>
            <div class="col-sm-9">
              <input ng-model="editContent.impact" class="form-control"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'detail.label.reason' | translate }}</label>
            <div class="col-sm-9">
              <div ng-repeat="reason in reasons">
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="col-sm-1">
                      <label class="control-label">{{$index + 1}}</label>
                    </div>
                    <div class="col-sm-9">
                      <input class="form-control" ng-model="reason.value" />
                    </div>

                    <div class="col-sm-2">
                      <button type="button" class="btn btn-success btn-circle" ng-click="incReason($index)">
                        <i class="glyphicon glyphicon-plus"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-circle" ng-click="rmvReason($index)">
                        <i class="glyphicon glyphicon-remove"></i>
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'detail.label.steps' | translate }}</label>
            <div class="col-sm-9">
              <div ng-repeat="step in steps">
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="col-sm-1">
                      <label class="control-label">{{$index + 1}}</label>
                    </div>
                    <div class="col-sm-9">
                      <input class="form-control" ng-model="step.value" />
                    </div>

                    <div class="col-sm-2">
                      <button type="button" class="btn btn-success btn-circle" ng-click="incStep($index)">
                        <i class="glyphicon glyphicon-plus"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-circle" ng-click="rmvStep($index)">
                        <i class="glyphicon glyphicon-remove"></i>
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ 'detail.label.reference' | translate }}</label>
            <div class="col-sm-9">
              <input ng-model="editContent.reference" class="form-control"></input>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'edit.cancel' | translate }}</button>
        <button ng-click="saveEditContent()" type="button" ng-disabled="editKBForm.$invalid" class="btn btn-primary">{{ 'edit.save' | translate }}</button>
      </div>
    </div>
  </div>
</div>
