<div>
    </br>
    <span>{{ editMessages }}</span>
    <form novalidate class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label">{{ 'detail.label.id' | translate }}</label>
            <div class="col-sm-10">
                <input ng-disabled="true" ng-model="editContent.id" class="form-control"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">{{ 'detail.label.type' | translate }}</label>
            <div class="col-sm-10">
                <select ng-model="editContent.type" class="form-control">
                    <option ng-repeat="x in editTypesSelectOption">{{ x }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">{{ 'detail.label.description' | translate }}</label>
            <div class="col-sm-10">
                <input ng-model="editContent.description" class="form-control"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">{{ 'detail.label.level' | translate }}</label>
            <div class="col-sm-10">
                <input ng-model="editContent.level" class="form-control"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">{{ 'detail.label.explanation' | translate }}</label>
            <div class="col-sm-10">
                <input ng-model="editContent.explanation" class="form-control"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">{{ 'detail.label.impact' | translate }}</label>
            <div class="col-sm-10">
                <input ng-model="editContent.impact" class="form-control"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">{{ 'detail.label.reason' | translate }}</label>
            <div class="col-sm-10">
                <input ng-model="editContent.possible_cause" class="form-control"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">{{ 'detail.label.steps' | translate }}</label>
            <div class="col-sm-10">
                <input ng-model="editContent.processing_step" class="form-control"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">{{ 'detail.label.reference' | translate }}</label>
            <div class="col-sm-10">
                <input ng-model="editContent.reference" class="form-control"></input>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button ng-click="saveEditContent()" type="submit" class="btn btn-default">{{ 'edit.save' | translate }}</button>
                <button ng-click="cancelEditContent()" type="submit" class="btn btn-default">{{ 'edit.cancel' | translate }}</button>
            </div>
        </div>
    </form>
</div>