"use strict";

module.exports = {
  'elaticsearch': {
        'protocol': 'http',
        'hostname': '{{ockb_elastic_host}}',
        'port': {{ockb_elastic_port}},
        'index': 'occikb'
    }
};