GRAFANA_USER={{grafana_user}}

GRAFANA_GROUP={{grafana_user_group}}

GRAFANA_HOME={{grafana_home}}

LOG_DIR={{grafana_log_dir}}

DATA_DIR={{grafana_data_dir}}

MAX_OPEN_FILES=10000

CONF_DIR={{grafana_conf_dir}}

RESTART_ON_UPGRADE=true

PLUGINS_DIR={{grafana_plugins}}

PID_DIR={{grafana_pid_dir}}

PID_FILE={{grafana_pid_dir}}/grafana.pid

