
{
    "name": "mylogstash-yarn-apps",
    "type": "elasticsearch",
    "typeLogoUrl": "",
    "access": "proxy",
    "url": "http://localhost:{{elastic_port}}",
    "password": "",
    "user": "",
    "database": "mylogstash-yarn-apps",
    "basicAuth": false,
    "basicAuthUser": "",
    "basicAuthPassword": "",
    "withCredentials": false,
    "isDefault": false,
    "jsonData": {
        "esVersion": 2,
        "timeField": "finishedTime"
    },
    "secureJsonFields": {}
}
