
{
    "id": 3,
    "orgId": 1,
    "name": "mylogstash-yarn-running",
    "type": "elasticsearch",
    "typeLogoUrl": "",
    "access": "proxy",
    "url": "http://localhost:9200",
    "password": "",
    "user": "",
    "database": "mylogstash-yarn-running",
    "basicAuth": false,
    "basicAuthUser": "",
    "basicAuthPassword": "",
    "withCredentials": false,
    "isDefault": false,
    "jsonData": {
        "esVersion": 2,
        "timeField": "logdate"
    },
    "secureJsonFields": {}
}
