.brand {
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  margin-left: 0;
  padding: 2px 5px 0 10px;
}

a.brand:link {
  text-decoration: none;
}

a.brand:visited {
  text-decoration: none;
}

a.brand:hover {
  text-decoration: none;
}

a.brand:active {
  text-decoration: none;
}

button.create-button {
  float: right;
  margin: 7px 120px;
}



treecontrol.tree-light li .ockb-custom-selected {
  color:#FFFFFF;
  background-color:#428bca;
}

/* overwrite the treecontrol.tree-light li.tree-expanded i.tree-branch-head, set to none */
treecontrol.tree-light li.tree-expanded i.tree-branch-head {
    padding: 1px 10px;
    background: none no-repeat;
}

/* overwrite the treecontrol.tree-light li.tree-collapsed i.tree-branch-head, set to none */
treecontrol.tree-light li.tree-collapsed i.tree-branch-head {
    padding: 1px 10px;
    background: none no-repeat;
}

/* overwrite the bootstrap list-group-item border, set to 0px */
treecontrol.tree-light li.tree-leaf {
  border: 0px
}
