.brand {
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  margin-left: 0;
  padding: 2px 5px 0 10px;
}

a.brand:link {
  text-decoration: none;
}

a.brand:visited {
  text-decoration: none;
}

a.brand:hover {
  text-decoration: none;
}

a.brand:active {
  text-decoration: none;
}

a.create-button {
  float: right;
  margin: 7px 120px;
}